body {
    font-family: Tahoma;
    font-size: 15px;
    width: 1000px;
    margin: 0px auto;
}

#menu_top {
    background: #141414;
    height: 40px;
}

#banner {
    height: 500px;
    width: 1000px;
}

#banner img {
    width: 1000px;
    height: 500px;
}

#main #left {
    width: 700px;
    float: left;
    min-height: 400px;
}

#main #right {
    width: 300px;
    float: left;
    min-height: 400px;
}

#footer {
    background: #000;
    width: 1000px;
    text-align: center;
    height: 60px;
    color: #FFF;
    clear: left;
    line-height: 60px;
}

#menu_top ul {
    margin: 0px;
    padding: 0px;
}

#menu_top ul li {
    list-style: none;
    float: left;
}

#menu_top ul li a {
    text-decoration: none;
    display: block;
    height: 40px;
    line-height: 40px;
    color: white;
    padding: 0px 20px 0px 20px;
    border-right: 1px solid #ccc;
}

#menu_top ul li a.active {
    background: #1949b5;
}

#main #left ul {
    margin: 0px;
    padding: 0px;
}

#main #left ul li {
    list-style: none;
    clear: left;
    border-bottom: 2px solid #ccc;
    float: left;
    margin-bottom: 20px;
}

#main #left ul li img {
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
}

#main #left ul li h2 {
    font-size: 17px;
    margin-top: 0px;
}
#main{
    margin-top: 10px;
}
#main #right .menu_right ul {
    margin: 0px;
    padding: 0px;
}
#main #right .menu_right ul li {
    list-style: none;
}

#main #right .menu_right ul li a{
    display: block;
    text-decoration: none;
    line-height: 32px;
    border-bottom: 1px solid #ccc;
    text-indent: 15px;
}

#main #right .menu_right h3 {
    margin-top: 0px;
    background: #194d58;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    color: white;
    text-indent: 15px;
}