.flex-container {
    background-color: yellow;
    max-width: 960px;
    max-height: 1000px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}

.item {
    background: blue;
    margin: 5px;
    color: white;
    height: 50px;
    text-align: center;
    line-height: 50px;
    width: 1000px;
}
.item1 {
    order: 4;
}
.item2 {
    order: 3;
}
.item3 {
    order: 1;
}
.item4 {
    order: 2;
}
