.flex-container{
    display: flex;
    background-color: #0c5460;
    flex-direction: column-reverse;
}
.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}
